#integracao2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vermelha{
    color: #f30;
}
.verde{
    color: #3c0;
}
.branca{
    background-color: black;
    color: #fff;
}